
body {
	background:#666;	
}



#formWrap {
	width:720px;
	margin:30px auto 60px;
	background:#FFF;
	/*border:1px solid #999;
	border-radius:20px;
	border-bottom-right-radius:100px 50px;
	-webkit-box-shadow:2px 2px 2px #999;
	
	-moz-box-shadow:2px 2px 2px #999;*/
/*	-webkit-border-radius:20px;*/
/*	-moz-border-radius:20px;*/

	padding:10px 10px 40px;
	
}


#formWrap #form {
	border-top:1px solid #EEE;
	width:720px;
	
	
}


#form .row {
	border-bottom:1px solid #EEE;
	display:block;
	line-height:38px;
	overflow:auto;
	padding:24px 0px;
	width:100%;
}


#form .row .label {
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	width:180px;
	text-align:right;
	float:left;
	padding-right:10px;
	margin-right:10px;
}


#form .row .input {
	float:left;
	margin-right:10px;
/*	width:auto;*/
	width:285px;
	
	
}


#form .row .input2 {
	float:left;
	margin-right:10px;
/*	width:auto;*/
	width:466px;
	
	
}

#form .row .context {
	color:red;
	font-size:14px;
	font-style:italic;
	line-height:14px;
	font-weight:bolder;
	font-family:Arial, Helvetica, sans-serif;
	width:200px;
	float:left;
	
}


.detail {
	width:260px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	padding:7px 8px;
	margin:0;
	display:block;
	border-radius:5px 5px 5px 5px;
/*	border-top-right-radius:20px 10px;*/
	background:#E9E9E9;
	border:1px solid #CCC;	
}

.mess {
	width:450px;
	max-width:450px;
	height:280px;
	overflow:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	padding:7px 8px;
	line-height:1em;
	margin:0;
	display:block;
	border-radius:5px 5px 5px 5px;
	background:#E9E9E9;
	border:1px solid #CCC;	
}


.detail:focus {
	background-color:#FFF;
	border:1px solid #999;
	outline:none;	
}

.mess:focus {
	background-color:#FFF;
	border:1px solid #999;
	outline:none;	
}


#form #submit {
	font-family:Arial, Helvetica, sans-serif;
	margin-top:25px;
	margin-left:1px;
	color:000;
	font-size:16px;
	text-shadow:1px 1px 1px #999;
	padding:10px;
	/*border-bottom-right-radius:15px 7px;
	border-top-left-radius:15px 7px;*/
	

}

span.error {
	color:#000;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background-image:url(../images/x.png);	
	background-repeat:no-repeat;
	background-position:left 6px;
	padding-left:25px;
}

#formWrap h2 {
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 1px #CCC;
	color:#255E67;
	margin-left:25px;	
}

  #articles{display:block;}
 
#contact_info{
	background:#f9f9f9;
	width:97%;
	height:auto;
	float:left;
	margin:10px 10px 0 10px;
	padding:0;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}

#contact_img img{
	width:200px;
	height:200px;
	margin:10px;
	padding:0;
	float:left;
	border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}

#contact_text{
	width:640px;

	margin:20px 0 0 0 ;
	text-align:center;
}

#contact_text a{
	color:#BA4A00;
}

#contact_text a:hover{
	color:red;
}

#contact_title{
	margin:10px 0 0px 0 ;
	padding:5px 0 5px 0;
	background:#ff6600;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;

	width:90%;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}



#contact_text p{
	margin:0;
	padding:0;	
	line-height:170%;	
}

#contact_text h4{
	margin:0;
	padding:0;
}

.label{
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
border:1px  solid #ff6600;
background:#d8fed8;/*Green*/
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	width:180px;
	text-align:right;
	float:left;
	padding-right:10px;
	margin-right:10px;
}
.label2{
background:#f9cece;/*Red*/
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
border:2px  solid red;
	font-size:16px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	width:180px;
	text-align:right;
	float:left;
	padding-right:10px;
	margin-right:10px;
}
.DateClass2 {

	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	width:30px;
	height:30px;


}
.DateClass {
	
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	width:100px0px;
	height:30px;


}